{% extends "base.html" %} 
{% block content %}
<div>
        <!-- <a class="login" href="{% url 'auth_login' %}">Login</a>
        <a class="logout" href="{% url 'auth_logout' %}">Logout</a> -->
        <a class="register" href="{% url 'registration_register' %}">Sign Up</a>        
</div>
<div>
    <form action="{% url 'add_snippet'%}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="add-button">
            <button type="submit">Add Snippet</button>
        </div>
    </form>
</div>

<div>
    <form action="{% url 'search_snippet'%}" method="GET">
        <div>
            <input type="text" placholder="search by title" name="q"/>
            <button type="submit">Search</button>
        </div>  
</div>

<div id="snippet-list">
    {% for snippet in snippets %}
    <div class="card">
        <h3>Title: {{ snippet.title }}</h3>
        <h4>Description: {{ snippet.description }}</h4>
        <h4>Tag: {{ snippet.tag }}</h4>
        <h4>Language Field: {{ snippet.language_field }}</h4>
        <h4>Created At: {{ snippet.created_at }}</h4>
        <a href="{% url 'edit_snippet' pk=snippet.pk %}">Edit</a>
        <a href="{% url 'delete_snippet' pk=snippet.pk %}">Delete</a>
        {% if user.is_authenticated %}
        <a href="{% url 'show_snippet' pk=snippet.pk %}">Details</a>
        {% endif %}

    </div>
</div>
    {% endfor %}


{% endblock %}