<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <a class="logout" href="{% url 'auth_logout' %}">Logout</a>
        
        <a class="login" href="{% url 'auth_login' %}">Login</a>
        <a class="register" href="{% url 'registration_register' %}">Sign Up</a>
    {% endblock%}
</body>
</html>